@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/* resets
  ------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css variables 
------------------------------ */
:root {
  --bg--primary-color: #ffffff;
  --fs-color: #a37fdf;

  --text-color-primary: #000000;
  --text-color-seconddary: #ffffff;
  --primary-font-family: 'Raleway';


  /* text colors */
  --color-1: #000;
  --color-2: #fff;



  --ff-heading: 'Raleway', 'sans-serif';
  --fs-heading-1: 60px;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

h1{
  font-size: var(--fs-heading-1);
}

.heading{
  font-family: var(--ff-heading);
}

/* banner styles
  ------------------------------ */

.banner {
  background: #8f69d3;
  height: 727px;
}

.banner_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.wrapper {
  height: 100%;
}

.banner_container .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.h1_container{
  padding: 0 40px;
}

.banner_container .right {
  width: 50%;
  overflow: hidden;
  position: relative;
}

.banner_image {
  width: 850px;
  position: absolute;
  left: -100px;
  bottom: 0px;
}

/* service cards
  ------------------------------ */

/* container */
.cards_container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}
/* cards */
.service_card {
  background: white;
  height: 176px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-transform: uppercase;
  width: 40%;
}

.service_card div{
  width: 74px;
  height: 74px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 70%;
  width: 70%;
}

.service_card div .overlay{
  width: 74px;
  height: 74px;
  background-color: #42168a9e;
  position: absolute;
  left: 0;
  top: 0;
}

/* banner links */
.links_container{
  padding: 20px 50px;
}














/* helpers classes 
-------------------------------*/
.md-shadow{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5) ;
}

.text_black{
  color: var(--color-1);
}

.text_white {
  color: var(--color-2);

  /* this is for links */
  text-decoration-color: var(--color-2);
  text-underline-offset: 5px;
}


/* animations 
-------------------------------*/

.bottom_line{
  position: relative;
}

.bottom_line::after{
  content: '';
  display: inline-block;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: orangered;
  transition: .5s ease-in-out;
}

.bottom_line:hover::after{
  width: 100%;
}