
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Raleway,sans-serif;
  overflow-x: hidden;
}


:root{
  --bg--primary-color: #ffffff;
  --fs-color: #a37fdf;

  --text-color-primary: #000000;
  --text-color-seconddary: #ffffff;
  --primary-font-family: Raleway,sans-serif;
  
}

.logo-img {
  padding: 0 60px;
}

.header {
  background-color: var(--bg--primary-color);
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  /* position: fixed; */
}
nav {
  display: flex;
  padding: 2% 6%;
}
.nav-links {
  text-align: right;
  flex: 1;
  font-size: 2rem;
  transition: 0.3s;
}
.fa-times {
  font-size: 1.5rem;
  visibility: hidden;
}
.nav-links:hover {
  color: var(--fs-color);
  cursor: pointer;
}
li {
  list-style: none;
  list-style-type: none;
  display: none;
  
  
}

.banner {
  background-image: url(../images/fgfgfg5t.jpg);
  height: 100vh;
  padding: 5rem 9% 2rem;
  background-position: center;
  height: 750px;
}
.container h1 {
  font-family: var(--primary-font-family);
  font-size: 3.75rem;
  color: var(--text-color-seconddary);
  padding-bottom: 20px;
  
  
}


.boxes {
  display: inline-block;
  padding-bottom: 50px;
}
.box {
  background-color: var(--bg--primary-color);
  border: 1px solid #ffffff;
  display: block;
  height: 180px;
  width: 250px;
  position: absolute;
  left: 130px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px #7456a0;
}
.fa-desktop {
  font-size: 2.5rem;
  margin-top: 20px;
  padding-top: 15px;
  background-color: #caacf6;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  color: #a37fdf;
  
  
}

.box, .box2, .box3, .box4, h4 {
  font-weight: 700;
  padding-top: 20px;
  letter-spacing: 3px;
}
.home {
  display: inline-block;
  justify-content: right;
  padding-bottom: 150px;
  
}
.person1img {
  width: 900px;
  position: absolute;
  right: -130px;
  top: 80px;
}



.box2 {
  background-color: var(--bg--primary-color);
  border: 1px solid white;
  display: block;
  height: 180px;
  width: 250px;
  position: absolute;
  left: 400px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px #7456a0;
}



.box3 {
  background-color: var(--bg--primary-color);
  border: 1px solid white;
  display: block;
  height: 180px;
  width: 250px;
  position: absolute;
  bottom: 120px;
  left: 130px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px #7456a0;
}
.box4 {
  background-color: var(--bg--primary-color);
  border: 1px solid white;
  display: block;
  height: 180px;
  width: 250px;
  position: absolute;
  bottom: 120px;
  left: 400px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px #7456a0;
}
.p1 {
  position: relative;
  bottom: 65px;
  left: 130px;
  font-size: 18px;
  color: var(--text-color-seconddary);
}
 .p1 a {
color: var(--text-color-seconddary);
text-decoration: underline;
}


/*second section*/

.fg-img {
  width: 50%;
  padding-top: 0px;
}


.section2 {
  display: inline-flex;
}